<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="transactionManager" class="com.yuan.advice.TransactionManager"></bean>-->
    <bean id = "pmonitor" class="com.yuan.advice.ControllablePerformanceMonitor"/>
    <bean id="forumServiceTarget" class="com.yuan.service.ForumServiceTwoImpl"></bean>
    <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.yuan.advice.Monitorable"
          p:interceptorNames="pmonitor"
          p:target-ref="forumServiceTarget"
          p:proxyTargetClass="true"
    />

    <bean id="greetingAdvice" class="com.yuan.advice.GreetingBeforeAdvice"/>
    <bean id ="afterAdvice" class="com.yuan.advice.GreetingAfterAdvice"/>
    <bean id = "greetingAround" class="com.yuan.advice.GreetingInterceptor"/>
    <bean id="target" class="com.yuan.service.NaiveWaiter"/>
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.yuan.service.Waiter"
          p:interceptorNames="greetingAround"
          p:target-ref="target"
    />
</beans>